<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/style.css">
    <title>Что мы можем сделать?</title>
</head>
<body>
    <h1>ЧТО МЫ МОЖЕМ СДЕЛАТЬ?</h1>
    <img class="wr__img" src="https://stihi.ru/pics/2019/05/09/7707.jpg" width="1850" height="550" alt="global warming">
    <p>
        Необходимо смягчить парниковый эффект прежде всего путем сокращение выбросов углекислого газа. В 1992 году 160 стран приняли основное соглашение о противодействии глобальному потеплению «Рамочную конвенцию об изменении климата».
        Дополнением к ней стал Киотский протокол, действовавший до 2012 года, затем Парижское соглашение. Эти документы обязывали развитые страны сократить выбросы углекислого газа их производствами.
        Но реальное положение дел в этом вопросе не соответствует заявленным целям: на данный момент удалось только замедлить выбросы, хотя требуется немедленное и резкое их сокращение.
        Кроме того, любой житель планеты может внести свой вклад в эту борьбу.
    </p>
    <p>Каждый человек может придерживаться рекомендаций, чтобы уменьшить затрату природных ресурсов и загрязнение среды:</p>
    <li>Не выбрасывать продукты питания, чтобы не увеличивать массу пищевых отходов.</li>
    <li>Чаще использовать растительную пищу, на производство которой расходуется меньше ресурсов. К тому же животноводство — один из главных источников метана в парниковых газах.</li>
    <li>Расходовать меньше воды.</li>
    <li>Сократить использование пластика, уменьшая загрязнение почвы.</li>
    <p>
        Эти незначительные усилия каждого жителя планеты дополнят глобальные мероприятия в борьбе с потеплением.
        Усилия всего человечества позволят не допустить критического среднего роста температуры на планете.
    </p>
</body>
</html>
