<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/style.css">
    <title>Глобальное потепление</title>
</head>
<body>
    <h1>ГЛОБАЛЬНОЕ ПОТЕПЛЕНИЕ</h1>
    <img class="wr__img" src="../static/img/gl-wr1.jpg" width="1850" height="550" alt="global warming">
    <p>
        ccccccccccc ccccccccccccccccc ccccccccccccccccc ccccccccccccccccccc ccccccccccccccccccc ccccccccccccccccccccccc ccccccccccccccccccc ccccccccccccccccc
    </p>
    <ul class="links_s links">
      <a class="creat__link1" href="{{url_for('reason')}}">Причины глобального потепления</a>
      <a class="creat__link2" href="{{url_for('next')}}">Последствия глобальноого потепления</a>
      <a class="creat__link3" href="{{url_for('choice')}}">Что мы можем сделать?</a>
    </ul>
    <a class="creat__link" href="{{url_for('reason')}}">
</html>
