<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/style.css">
    <title>Причины глобального потепления</title>
</head>
<body>
    <h1>ПРИЧИНЫ ГЛОБАЛЬНОГО ПОТЕПЛЕНИЯ</h1>
    <img class="wr__img" src="https://cdn.nur.kz/images/720/da35c9d595efdda9.webp" width="1850" height="550" alt="reasons">
    <p>
        Какие причины глобального потепления? Главной причиной изменения климата называют деятельность человека. Непосредственной причиной стало повышение концентрации парниковых газов и глобальные затемнения в атмосфере Земли.
        Промышленное производство на планете привело к значительному повышению концентрации парниковых газов. Их составляют такие основные компоненты:
    </p>
    <li>Водяной пар, на который приходится 36–70% парникового эффекта. Пар в изобилии выделяется многими производствами, предприятиями теплоэнергетики.</li>
    <li>Углекислый газ (9–26% парникового эффекта), который выделяется при сжигании угля, нефти, газа и продуктов их переработки.</li>
    <p>
        Дополняют парниковые газы метан и озон. Такое повышение концентрации парниковых газов привело к тому, что инфракрасное излучение, которое прежде уходило от Земли в космос, стало больше поглощаться и удерживаться в атмосфере.
        Результат этого процесса — повышение температуры у поверхности планеты.
    </p>
    <p>
        С начала 1960-х в атмосфере участились явления глобального затемнения. Его вызывают частички пыли и сажи, которые выделяют производства, извергающиеся вулканы.
        Их скопление способствует формированию облаков, что тоже сказывается на состоянии атмосферы.
    </p>
</body>
</html>
